/* Minimal js-dos stylesheet (bare minimum for embedding/emulation)
   This intentionally replaces the full js-dos.css for lightweight usage.
*/

.emulator-root {
  background-color: black;

  height: 100%;
  width: 100%;
}

#overflow-hidden {
  display: flex;
}
.jsdos-headless * {
  user-select: none;
}
#jsdos-container {
  width: 100%;
  height: 100%;
  display: flex;
}
#jsdos-container svg {
  display: none;
}
#jsdos-container video {
  display: none;
}
div:has(> .emulator-root) {
  display: flex;
  background-color: yellow;
  height: 100%;
  width: 100%;
}
.emulator-click-to-start-text {
  display: none;
}
